:root {
  --primary-color: #FED766;
  --secondary-color: #FF3E41;
  --tertiary-color: #E47829;
  --black-color: #000;
  --white-color: #fff;
  --dark-gray-color: #696773;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito/Nunito-Font.woff2') format('woff2'),
       url('../assets/fonts/Nunito/Nunito-Font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Permanent Marker';
  src: url('../assets/fonts/PermanentMarker/PermanentMarker-Font.woff2') format('woff2'),
  url('../assets/fonts/PermanentMarker/PermanentMarker-Font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha/Neucha-Font.woff2') format('woff2'),
  url('../assets/fonts/Neucha/Neucha-Font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
