@import './normalize.css';
@import './global.css';

/* ------------------------- GLOBAL STYLES ------------------------- */

body {
  background-color: var(--light-blue-color);
}


/* ------------------------- HEADER STYLES ------------------------- */
header {
  background: var(--primary-color);
}

.navbar {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  max-width: 744px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  margin: 5px;
}

.logo {
  width: 25%;
}

.navbar-btns,
.search-bar {
  display: flex;
  flex-direction: row;
}

.navbar-btn {
  color: var(--white-color);
  background: var(--secondary-color);
  height: 34px;
  border-radius: 5px;
  border-style: none;
  display: flex;
  align-items: center;
}

.navbar-icon {
  fill: var(--white-color);
  height: 100%;
}

.search-bar input {
  border-radius: 5px 0 0 5px;
  border-style: none;
  width: 300px;
  height: 32px;
}

.btn-search {
  border-radius: 0 5px 5px 0;
}

.random-description {
  margin: auto;
  display: flex;
  justify-content: center;
  visibility: hidden;
  color: var(--dark-gray-color);
  font-size: .8rem;
}

.btn-random:hover+.random-description {
  visibility: visible;
}

/* ---------------------------- CATEGORIES STYLE ---------------------------- */
.categories-section {
  max-width: 774px;
  margin: auto;
}

.category-card-container {
  display: grid;
  grid-template: auto / repeat(3, 33.3%);
}

.category-card {
  position: relative;
  margin: 10px;
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  background-color: #E64848;
  border-radius: 5px;
  box-shadow: 0 5px 5px var(--light-gray-color);
}

.category-card img {
  width: 100%;
  filter: contrast(50%);
}

.category-card p {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.categories-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------- MEALS STYLES ------------------------- */
figure {
  margin: 0;
}

.meals {
  max-width: 774px;
  margin: auto;
}

.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
  color: var(--dark-gray-color);
  margin-left: 10px;
}

.meals-content {
  display: grid;
  grid-template: auto / repeat(3, 33.3%);
  align-items: center;
}

.meals-card {
  background-color: var(--white-color);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 5px var(--light-gray-color);
}

.meals-card p {
  font-family: 'Permanent Marker', cursive;
  font-size: 14px;
  color: var(--black-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.meals-card img {
  width: 100%;
  object-fit: cover;
}

/* ------------------------- SLOGAN STYLES ------------------------- */
.slogan-container {
  max-width: 774px;
  margin: auto;
}

.slogan {
  height: 119px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(155, 155, 155, 0.7)), url(https://www.themealdb.com/images/media/meals/t8mn9g1560460231.jpg) no-repeat; 
  background-position: center center;
  border: solid var(--white-color) 4px;
}

.slogan p {
  color: var(--white-color);
  font-size: 36px;
  font-family: 'Neucha', cursive;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------------------------- FOOTER STYLES ------------------------- */
footer {
  margin-top: 3%;
  background-color: var(--primary-color);
  height: 113px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-components img {
  height: 47px;
  font-family: 'Neucha', cursive; 
}

.footer-components p {
  font-size: 12px;
}

/* ------------------------- MEDIA QUERIES ------------------------- */
/* Mobile */
@media (max-width: 744px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 50%;
  }

  .search-bar input {
    width: 100%;
  }

  .random-text,
  .random-description {
    display: none;
  }
}

/* If width is equal or less than 500px apply these styles */
@media (max-width:500px) {

  /* Slider */
  .category-card-container {
    display: flex;
    overflow: auto;
    flex-flow: row nowrap;
    scroll-snap-type: x proximity;
  }

  .category-card {
    width: 90%;
    text-align: center;
    scroll-snap-align: center;
    flex: none;
  }

  .category-card p {
    font-size: 2rem;
  }

  .categories-btn {
    display: none;
  }
}

@media (max-width:320px) {
  .title {
    font-size: 20px;
    margin-left: 22px;
    margin-bottom: 0px;
  }

  .meals-card {
    margin: 20px;
  }

  .meals-content {
    display: flex;
    flex-direction: column;
  }
 
  .meals-card p{
    font-size: 18px;
  }

  .slogan p {
    font-size: 22px;
  }
}