@import './normalize.css';
@import './global.css';

/* ------------------------- NAV BAR STYLES ------------------------- */
header {
  background: var(--primary-color);
}

.navbar {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  max-width: 744px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  margin: 5px;
}

.logo {
  width: 25%;
}

.navbar-btns,
.search-bar {
  display: flex;
  flex-direction: row;
}

.navbar-btn {
  color: var(--white-color);
  background: var(--secondary-color);
  height: 34px;
  border-radius: 5px;
  border-style: none;
  display: flex;
  align-items: center;
}

.navbar-icon {
  fill: var(--white-color);
  height: 100%;
}

.search-bar input {
  border-radius: 5px 0 0 5px;
  border-style: none;
  width: 300px;
  height: 32px;
}

.btn-search {
  border-radius: 0 5px 5px 0;
}

.random-description {
  margin: auto;
  display: flex;
  justify-content: center;
  visibility: hidden;
  color: var(--dark-gray-color);
  font-size: .8rem;
}

.btn-random:hover+.random-description {
  visibility: visible;
}


/* Mobile */
@media (max-width: 744px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 50%;
  }

  .search-bar input {
    width: 100%;
  }

  .random-text,
  .random-description {
    display: none;
  }
}